/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */
@import url(https://fonts.googleapis.com/css?family=Gochi+Hand);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?2774735');
  src: url('../font/fontello.eot?2774735#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?2774735') format('woff2'),
       url('../font/fontello.woff?2774735') format('woff'),
       url('../font/fontello.ttf?2774735') format('truetype'),
       url('../font/fontello.svg?2774735#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
	margin:0;
	padding:0;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* Edit header */
   
header{
	height:610px;
	width:100%;
	border-top:5px red solid;
	background-image:url("../img/hand.png"),url("../img/header_image.png");
	background-position:88% bottom, left top;
	background-size:auto auto, 100% 100%;
	background-repeat:no-repeat, no-repeat;
}
.headText{
	margin-top:13%;
	color:#ffffff;
}
.headText h1{
	font-family: 'Gochi Hand', cursive;
	font-size:60px;
}
.headText h1:after{
	content:".";
	color:red;
}
.headText p{
font-family: 'Roboto', sans-serif;
font-size:24px;
line-height:36px;
font-weight:500;
width:431px;
}
header ul{
	list-style-type:none;
	padding:0;
	display:table;
	border-spacing:10px;
}
li.mobile{
	cursor:url(../img/cursor.png), auto;
}
li.mobile:hover{
	background-color:#d4213d;
}
.mobile{
	margin-left:0;
	display:inline-block;
	background:rgba(255,255,255,0.5);
	background-size:50px 50px;
	border-radius:25px;
	height:50px;
	width:50px;
}
.phones{
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}

/*   EDIT CONTENT   */
.wrapper{
	width:1200px;
	margin:0 auto;
	overflow:hidden;
}
.firstContent{
	font-family: 'Roboto', sans-serif;
	font-size:22px;
	font-weight:400;
	min-height:335px;
	width:1200px;
	margin:0 auto;
	text-align:center;
}
.firstContent p{
	font-family: "Arial", sans-serif;
	font-size:16px;
	line-height:26px;
	color:#848484;
	
}
.first{
	margin:50px 0 0 90px;
	width:315px;
	display:inline-block;
}
.first:first-child{
	margin-left:0;
}
.first h2{
	margin-top:20px;
}
.theme:before{
	content:url(../img/cogwheel.png);
	background:#d4213d;
	border:1px transparent solid;
	border-radius:50px;
	line-height:122px;
	display: block;
    margin: 0 108px;
    height: 97px;
}
.flat:before{
	content:url(../img/star.png);
	background:#d4213d;
	border:1px transparent solid;
	border-radius:50px;
	display: block;
	line-height:123px;
    margin: 0 108px;
    height: 97px;
}
.world:before{
	content:url(../img/globe.png);
	background:#d4213d;
	border:1px transparent solid;
	border-radius:50px;
	display: block;
	line-height:127px;
    margin: 0 108px;
    height: 97px;
}
.secondContent{
	height:430px;
	background-color:#e3e3e3;
}
.secondContent h2{
	font-family: 'Roboto', sans-serif;
	font-size:22px;
	line-height:26px;
	padding-top:60px;
}
.secondContent p{
	font-family: "Arial", sans-serif;
	font-size:16px;
	line-height:26px;
	color:#848484;
}
.secContLeft{
	float:left;
	width:550px;
}
.secondContent video{
	float:right;
}
.secondContent form{
	padding-top:20px;
}
#send{
	width:140px;
	height:55px;
	text-align:center;
	font-family:'Myriad Pro', sans-serif;
	font-size:22px;
	background-color:#d4213d;
	border:1px transparent solid;
	border-radius:0 10px 10px 0;
	color:#ffffff;
}
#email{
	width:270px;
	height:51px;
	border:1px transparent solid;
	border-radius:15px 0 0 15px;
	padding-left:30px;
}
.thirdContent{
	height:520px;
}
.thirdContent p{
	margin:60px auto 0;
	font-family:'Arial', sans-serif;
	font-size:18px;
	font-style:italic;
	line-height:30px;
	width:817px;
	text-align:center;
	color:#848484;
}
.thirdContent p:nth-of-type(2){
	margin:20px auto 0;
		font-family:'Helvetica Neue', sans-serif;
	font-size:16px;
	line-height:30px;
	width:785px;
	text-align:center;
	color:#848484;
}
.thirdContent h2{
	font-family:'Roboto', sans-serif;
	font-size:24px;
	text-align:center;
	margin-top:150px;
}
.thirdContent h3{
	font-family:'Roboto', sans-serif;
	font-size:18px;
	text-align:center;
}
.faces{
	width:1135px;
	margin:0;
	position:relative;
	perspective:770px;
}
.carousel{
	position: absolute;
	left:55%;
	top:20px;
	margin:0;
	display:block;
	transform-style: preserve-3d;
}
.spinner{
	animation-name: spin;
	animation-duration: 9s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@keyframes spin {
    from {transform:rotateY(0deg) rotateX(0deg) rotateZ(0deg); }
    to {transform:rotateY(-360deg) rotateX(0deg) rotateZ(0deg);}
}
.carousel img{
	position: absolute;
	outline: 1px solid transparent;
}
.carousel img:nth-child(1) {
	transform: rotateY(0deg) translateZ( 288px );
}
.carousel img:nth-child(2) {
	transform: rotateY(-17deg) translateZ( 288px );
}
.carousel img:nth-child(3) {
	transform: rotateY(-34deg) translateZ( 288px );
}
.carousel img:nth-child(4) {
	transform: rotateY(-51deg) translateZ( 288px );
}
.carousel img:nth-child(5) {
	transform: rotateY(-68deg) translateZ( 288px );
}
.carousel img:nth-child(6) {
	transform: rotateY(-85deg) translateZ( 288px );
}
.carousel img:nth-child(7) {
	transform: rotateY(-102deg) translateZ( 288px );
}
.carousel img:nth-child(8) {
	transform: rotateY(-119deg) translateZ( 288px );
}
.carousel img:nth-child(9) {
	transform: rotateY(-136deg) translateZ( 288px );
}
.carousel img:nth-child(10) {
	transform: rotateY(-153deg) translateZ( 288px );
}
.carousel img:nth-child(11) {
	transform: rotateY(-170deg) translateZ( 288px );
}
.carousel img:nth-child(12) {
	transform: rotateY(-187deg) translateZ( 288px );
}
.carousel img:nth-child(13) {
	transform: rotateY(-204deg) translateZ( 288px );
}
.carousel img:nth-child(14) {
	transform: rotateY(-221deg) translateZ( 288px );
}
.carousel img:nth-child(15) {
	transform: rotateY(-238deg) translateZ( 288px );
}
.carousel img:nth-child(16) {
	transform: rotateY(-255deg) translateZ( 288px );
}
.carousel img:nth-child(17) {
	transform: rotateY(-272deg) translateZ( 288px );
}
.carousel img:nth-child(18) {
	transform: rotateY(-290deg) translateZ( 288px );
}
.carousel img:nth-child(19) {
	transform: rotateY(-307deg) translateZ( 288px );
}
.carousel img:nth-child(20) {
	transform: rotateY(-324deg) translateZ( 288px );
}
.carousel img:nth-child(21) {
	transform: rotateY(-343deg) translateZ( 288px );
}
.thirdContent ul{
	list-style-type:none;
	display:table;
	border-spacing:10px;
	width:auto;
	margin:40px auto 0;
	padding:0;
}
.socials{
	height:34px;
	width:34px;
	background:#d4d4d4;
	display:inline-block;
	border-radius:17px;
	perspective:100px;
	transition:2s;
}
.socials a{
	display:block;
	cursor:url(../img/cursor.png), auto;
}
.socials:hover{
	background:#df596e;
	transform: rotateY(360deg);
}
.medi{
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}


/*  EDIT FOOTER  */

footer{
	height:130px;
	background:#e3e3e3;
}
footer ul{
	list-style-type:none;
	width:689px;
	margin:0 auto;
	padding:0;
}
footer li{
	display:inline-block;
	margin-left:30px;
	line-height:130px;
	
}
footer a{
	text-decoration:none;
	color:#848484;
	cursor:url(../img/cursor.png), auto;
	display:block;
}
footer li:first-child{
	margin-left:0;
}
a.contact:before{
	padding-right:5px;
	content:'\e801';
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
}
a.download:before{
	padding-right:5px;
	content:'\e800';
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
}
a.press:before{
	padding-right:5px;
	content:'\e804';
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
}
a.email:before{
	padding-right:5px;
	content:'\e802';
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
}
a.support:before{
	padding-right:5px;
	content:'\e805';
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
}
a.policy:before{
	padding-right:5px;
	content:'\e803';
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
}







/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
