/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */
@import url(https://fonts.googleapis.com/css?family=Gochi+Hand);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?40548114');
  src: url('../font/fontello.eot?40548114#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?40548114') format('woff2'),
       url('../font/fontello.woff?40548114') format('woff'),
       url('../font/fontello.ttf?40548114') format('truetype'),
       url('../font/fontello.svg?40548114#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
	margin:0;
	padding:0;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* Edit header */

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.header {
	height: 680px;
	width: 100%;
	background-image: url("../img/hand.png"),url("../img/header_image.png");
    background-position: 92% bottom, left top;
    background-size: 494px 568px, 100% 100%;
	background-repeat: no-repeat, no-repeat;
    border-top: 5px red solid;
}

.head-text {
    margin: 200px 0 0 70px;
	color: #ffffff;
}

.head-text h1 {
	font-family: "Gochi Hand", cursive;
	font-size: 60px;
}

.head-text h1:after {
	content: ".";
	color: red;
}

.head-text p {
    width: 431px;
    line-height: 36px;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0;
}

.platforms {
    display: table;
	padding: 0;
    margin: 11px 0 0 52px;
    border-spacing: 17px;
}

.platform {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 57px;
    width: 59px;
    margin-left: 0;
    background: rgba(255,255,255,0.5);
    background-size: 50px 50px;
    border-radius: 28px;
	
}

.platform:hover {
	background-color: #d4213d;
}

.platform a {
    display: block;
    text-decoration: none;
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    cursor: url(../img/cursor.png), auto;
}

.apple:after {
    content: "\e808";
    display: block;
    speak: none;
    color: #ffffff;
}

.android:after {
    content: "\e807";
    display: block;
    speak: none;
    color: #ffffff;
}

.windows:after {
    content: "\e806";
    display: block;
    font-size: 23px;
    speak: none;
    color: #ffffff;
}
/*   EDIT CONTENT   */


.features{
    min-height: 377px;
    text-align: center;
	font-family: "Roboto", sans-serif;
	font-size: 22px;
	font-weight: 400;
}

.features p{
    line-height: 26px;
	font-family: "Arial", sans-serif;
	font-size: 16px;
	color: #848484;
}

.feature{
    display: inline-block;
    width: 332px;
    margin: 76px 0 0 96px;
}

.feature:first-child{
	margin-left: 0;
}

.feature h2{
    margin: 20px 0 0 0;
}

.feature p{
    width: 312px;
    margin: 21px auto;
}

.theme:before{
	content: "\e80b";
    display: block;
    height: 97px;
    margin: 0 116px;
    line-height: 96px;
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    speak: none;
    color: #ffffff;
	background: #d4213d;
	border: 1px transparent solid;
	border-radius: 50px;
}

.design:before{
	content: "\e809";
    display: block;
    height: 97px;
    margin: 0 116px;
    line-height: 96px;
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    speak: none;
    color: #ffffff;
	background: #d4213d;
	border: 1px transparent solid;
	border-radius: 50px;
}

.audience:before{
	content: "\e80a";
    display: block;
    height: 97px;
    margin: 0 116px;
    line-height: 96px;
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    speak: none;
    color: #ffffff;
	background: #d4213d;
	border: 1px transparent solid;
	border-radius: 50px;
    
}

.get-notified{
	height: 480px;
	background-color: #e3e3e3;
}

.sget-notified h2{
    padding: 47px 0 0 14px;
    line-height: 26px;
	font-family: "Roboto", sans-serif;
	font-size: 22px;
}

.get-notified p{
    margin-bottom: 0;
    line-height: 29px;
	font-family: "Arial", sans-serif;
	font-size: 16px;
	color: #848484;
}

.left-column{
	float: left;
	width: 550px;
    margin-top: 40px;
}

.player{
    float: right;
    width: 571px;
    height: 350px;
    margin: 68px 0 0 0;
}

.get-notified form{
	padding-top: 24px;
}

.send{
	width: 157px;
    height: 61px;
	text-align: center;
	font-family: "Myriad Pro", sans-serif;
	font-size: 22px;
	background-color: #d4213d;
	border: 1px transparent solid;
	border-radius: 0 10px 10px 0;
	color: #ffffff;
}

.form-email{
    width: 311px;
    height: 59px;
    padding-left: 30px;
    margin: 0 -4.5px 0 0;
	border: 1px transparent solid;
	border-radius: 15px 0 0 15px;
}

.testimonials{
	height: 465px;
}

.testimonials p{
    width: 817px;
	margin: 60px auto 0;
    text-align: center;
    line-height: 30px;
	font-family: "Arial", sans-serif;
	font-size: 18px;
	font-style: italic;
	color: #848484;
}

.testimonials p:nth-of-type(2){
    width: 785px;
	margin: 20px auto 0;
    line-height: 26px;
    text-align: center;
	font-family: "Helvetica Neue", sans-serif;
	font-size: 16px;
	color: #848484;
}

.testimonials h2{
    margin-top: 73px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
}

.testimonials h3{
    margin-top: 25px;
    text-align: center;
	font-family: "Roboto", sans-serif;
	font-size: 18px;
}

.faces{
    position: relative;
	width: 900px;
	margin: 0 auto;
}

.faces img{
    width: 50px;
}

.testimonials ul{
	list-style-type: none;
	display: table;
    width: auto;
    margin: 9px auto 0;
	padding: 0;
	border-spacing: 16px;
}

.socials{
	height: 34px;
	width: 34px;
    perspective: 100px;
	background: #d4d4d4;
	display: inline-block;
	border-radius: 17px;
	transition: 1s;
}

.socials a{
	display: block;
	cursor: url(../img/cursor.png), auto;
    text-decoration: none;
}

.socials:hover{
	background: #df596e;
	transform: rotateY(360deg);
}

.medi{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.twitter:after{
    content: "\e80c";
    display: block;
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    speak: none;
    color: #ffffff;
}

.facebook:after{
    content: "\e80d";
    display: block;
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    speak: none;
    color: #ffffff;
}

.pin:after{
    content: "\e80e";
    display: block;
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    speak: none;
    color: #ffffff;
}

.google:after{
    content: "\e80f";
    display: block;
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    speak: none;
    color: #ffffff;
}

.linked:after{
    content: "\e810";
    display: block;
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    speak: none;
    color: #ffffff;
}

.youtube:after{
    content: "\e811";
    display: block;
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    speak: none;
    color: #ffffff;
}
/*  EDIT FOOTER  */


.footer{
	height: 144px;
	background: #e3e3e3;
}

.footer ul{
	list-style-type: none;
	width: 689px;
	margin: 0 auto;
	padding: 0;
}

.footer li{
	display: inline-block;
	margin-left: 24px;
	line-height: 148px;
}

.footer a{
    display: block;
    cursor: url(../img/cursor.png), auto;
	text-decoration: none;
	color: #848484;
}

.footer a:hover{
    text-decoration: underline;
}

.footer li:first-child{
	margin-left:0;
}

.contact:before{
    content: "\e805";
    display: block;
    float: left;
    padding-right: 5px;
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
}

.download:before{
    content: "\e800";
    display: block;
    float: left;
	padding-right: 5px;
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
}

.press:before{
    content: "\e803";
    display: block;
    float: left;
	padding-right: 5px;
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
}

.email:before{
    content: "\e801";
    display: block;
    float: left;
	padding-right: 5px;
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
}

.support:before{
    content: "\e804";
    display: block;
    float: left;
	padding-right: 5px;
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
}

.policy:before{
    content: "\e802";
    display: block;
    float: left;
	padding-right: 5px;
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
