/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */
@import url(https://fonts.googleapis.com/css?family=Gochi+Hand);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    margin:0;
    padding:0;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* ==========================================================================
                                    HEADER
   ========================================================================== */

/* body styles */
body {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    color: #fff;
}

/* typography */
h2,
h3 {
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #000;
}

p {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    margin: 0;
    color: #848484;
}

/* icons */

.icon {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    color: #fff;
}

.icon-links {
    margin-right: 5px;
    color: #848484;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

/* header */

.header {
    height: 600px;
    width: 100%;
    background-image: url("../img/hand.png"),url("../img/header_image.png");
    background-position: 85% bottom, left top;
    background-size: auto auto, 100% 100%;
    background-repeat: no-repeat, no-repeat;
    border-top: 10px solid #d4213d;
}

.head-text {
    margin: 170px 0 0 126px;
    color: #fff;
}

.head-text h1 {
    margin: 0;
    font-family: "Gochi Hand", cursive;
    font-size: 60px;
}

.head-text h1:after {
    content: ".";
    color: #d4213d;
}

.head-text p {
    width: 433px;
    margin-top: 25px;
    line-height: 36px;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}

.platforms {
    display: block;
    padding: 0;
    margin: 20px  0 0 0px;
}

.platform {
    display: inline-block;
    height: 50px;
    width: 50px;
    margin-right: 15px;
    line-height: 56px;
    text-align: center;
    background: rgba(255,255,255,0.5);
    background-size: 50px 50px;
    border-radius: 29px;
}

.platform:hover {
    background-color: #d4213d;
}

.platform a {
    display: block;
    text-decoration: none;
    font-size: 28px;
    cursor: url(../img/cursor.png), auto;
}

.platform a:after {
    display: block;
}




/* ==========================================================================
                                    CONTENT
   ========================================================================== */

.features {
    height: 343px;
}
.feature-list {
    padding: 74px 0 0;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
}

.feature {
    display: inline-block;
    width: 312px;
    margin-left: 112px;
}

.feature:first-of-type {
    margin-left: 0;
}

.feature h2 {
    margin: 28px 0 0 0;

    font-weight: 400;
}

.feature p {
    margin: 21px auto;
    padding: 0;
    line-height: 26px;
}

.feature:before {
    display: block;
    height: 99px;
    margin: -7px 107px;
    line-height: 107px;
    font-size: 50px;
    speak: none;
    background: #d4213d;
    border-radius: 54px;
}

.get-notified {
    padding: 38px 0 0 22px;
    height: 390px;
    background-color: #e3e3e3;
}


.newsletter {
    float: left;
    width: 550px;
}

.newsletter h2 {
    line-height: 26px;
}

.newsletter p {

    line-height: 29px;
}

.newsletter form {
    padding-top: 24px;
}

.send {
    width: 157px;
    height: 61px;
    text-align: center;
    font-family: "Myriad Pro", sans-serif;
    font-size: 22px;
    background-color: #d4213d;
    border: none;
    border-radius: 0 10px 10px 0;
}

.form-email {
    width: 311px;
    height: 59px;
    padding-left: 30px;
    margin: 0 -4.5px 0 0;
    border: none;
    border-radius: 15px 0 0 15px;
}

.media {
    float: right;
    width: 571px;
}

.player {
    height: 350px;
    width: 500px;
    margin-left: 70px;
}

.testimonials {
    height: 465px;
}

.testimonials h2 {
    margin-top: 64px;
    text-align: center;
    font-size: 24px;
}

.testimonials h3 {
    margin-top: 25px;
    text-align: center;
    font-size: 18px;
}

.testimonials p {
    width: 883px;
    margin: 60px auto 0;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    font-style: italic;
}

.testimonials p:nth-of-type(2) {
    width: 785px;
    margin: 20px auto 0;
    line-height: 19px;
    text-align: center;
    font-family: "Helvetica Neue", sans-serif;
    font-style: normal;
    font-size: 18px;
    color: #848484;
}

.faces {
    position: relative;
    width: 900px;
    margin: 29px auto 0;
}

.faces img {
    width: 50px;
}

.social-links {
    display: table;
    margin: 16px auto 0;
    padding: 0;
    list-style-type: none;
    border-spacing: 16px;
}

.socials {
    display: table-cell;
    height: 34px;
    width: 34px;
    perspective: 100px;
    text-align: center;
    vertical-align: middle;
    background: #d4d4d4;
    border-radius: 17px;
    transition: 1s;
}

.socials a {
    display: block;
    cursor: url(../img/cursor.png), auto;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}

.socials:hover {
    background: #df596e;
    transform: rotateY(360deg);
}

/* ==========================================================================
                                    FOOTER
   ========================================================================== */


.footer {
    height: 144px;
    background: #e3e3e3;
}

.links {
    list-style-type: none;
    width: 670px;
    margin: 0 auto;
    padding: 0;

}

.links li {
    display: inline-block;
    margin-left: 24px;
    line-height: 144px;
}

.links li a {
    display: block;
    cursor: url(../img/cursor.png), auto;
    text-decoration: none;
    color: #848484;
}

.links li a:hover {
    text-decoration: underline;
}

.links li:first-child {
    margin-left:0;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

.icon {

}
.icon-apple {

}


.icon-size-l {
    font
}
